<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registry</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Domine:wght@500&family=Manrope:wght@300&family=Newsreader&family=Roboto&display=swap" rel="stylesheet">    
<link rel="stylesheet" href="/css/userpage.css">
</head>

<body>
    <header>
        <section class="header-top">
            <article>
                <h1>WE ARE HERE</h1>
                <h3>10851 Edison Ct, Rancho Cucamonga, CA 91730</h3>
            </article>
            <article class="header-search-holder">
                <h3>Search</h3>
                <input id="search-input" type="text">
                <button id="search-button"></button>
            </article>
            <article class="header-login-button-holder">
                {{#if logged_in}}
                <button onclick=logoutButton()>Logout</button>
                <h1>Logged In:</h1>
                <h1 id="username">{{user.username}}</h1>
                {{else}}
                <button onclick='window.location.href="/user/login"'>Login</button>
                <button onclick='window.location.href="/user/signup"'>SignUp</button>
                {{/if}}
            </article>
            <article>
                <h1>CONTACT US</h1>
                <h3>(909) 244-1884</h3>
            </article>
        </section>

        <section class="header-bar">
            <Button onclick='window.location.href="/user"' class="header-button">Home</Button>
            <Button onclick='window.location.href="/user/inventory"' class="header-button">View Used Cars</Button>
            <Button onclick='window.location.href="/user/about"' class="header-button">About Us</Button>
            <button onclick='window.location.href="/user/review"' class="header-button">Reviews</button>
        </section>
    </header>
    <div style="background-color: lightgray; min-height: 100vh; margin 0px">
        {{{body}}}
    </div>
    
</body>
</html>
<script>
    const logoutButton = async () => {

        const response = await fetch("/userapi/logout", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
        });
        
        window.localaction.reload();

        if (response.ok){
            console.log('Successful Logout');
            window.location.href = '/user';
        }else{
            alert('Failed to logout.');
        }
    }

    function forgotPassword(){
        window.location.href = "/user/email"
    }
</script>