<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registry</title>
    <link rel="stylesheet" href="/css/userpage.css">
</head>

<body>
    <header>
        <section class="header-top">
            <h3>Search</h3>
            <input id="search-input" type="text">
            <button id="search-button"></button>
            <a id="facebook-link" href="https://facebook.com">FaceBook</a>
            <button onclick='window.location.href="http://localhost:3001/user/login"'>Login</button>
            <button onclick='window.location.href="http://localhost:3001/user/signup"'>SignUp</button>
        </section>

        <section class="header-bar">
            <Button onclick='window.location.href="http://localhost:3001/user"' class="header-button">Home</Button>
            <Button onclick='window.location.href="http://localhost:3001/user/inventory"' class="header-button">View Used Cars</Button>
            <Button onclick='window.location.href="http://localhost:3001/user/about"' id="aboutus-select">About Us</Button>
            <button onclick='window.location.href="http://localhost:3001/user/review"' id="review-select">Reviews</button>
        </section>
    </header>
    <div style="background-color: lightgray; min-height: 100vh; margin 0px">
        {{{body}}}
    </div>
    
</body>
</html>