<section>
    <article class="login-form">
        Email: <input id="email" type="text" >
        <button onclick=forgotPassword()>Submit</button>
    </article>
</section>
<script>
    const forgotPassword = async () => {
        let email = document.getElementById("email");

        if(email.value){
            theEmail = email.value;

            userEmail = {
                email: theEmail,
            }

            const response = await fetch("/userapi/email", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(userEmail),
            });
            if (response.ok){
                console.log(response);
            }else{
                alert('Failed to send email.');
            };
        };
    }
</script>