<section class="review-holder">
    <article class="read-review">
        {{#each reviews as |review|}}
        <h1>{{review.owner_name}}</h1>
        <h1>{{review.rating}}</h1>
        <p>{{review.content}}</p>
        {{/each}}
    </article>
    <article class="submit-review">
        <h1>Leave Us A Review</h1>
        Content: <input type="text" >
        Rating: <input type="text" >
        <button>Submit</button>
    </article>
</section>