<div style="visibility:hidden">
        <section class="header-top">
            <h3>Search</h3>
            <input id="search-input" type="text">
            <button id="search-button"></button>
            <a id="facebook-link" href="https://facebook.com">FaceBook</a>
            <button onclick='window.location.href="http://localhost:3001/user/login"'>Login</button>
            <button onclick='window.location.href="http://localhost:3001/user/signup"'>SignUp</button>
            {{#if logged_in}}
            <h1>Logged In:</h1>
            <h1 id="username">{{user.username}}</h1>
            {{/if}}
        </section>

        <section class="header-bar">
            <Button onclick='window.location.href="http://localhost:3001/user"' class="header-button">Home</Button>
            <Button onclick='window.location.href="http://localhost:3001/user/inventory"' class="header-button">View Used Cars</Button>
            <Button onclick='window.location.href="http://localhost:3001/user/about"' id="aboutus-select">About Us</Button>
            <button onclick='window.location.href="http://localhost:3001/user/review"' id="review-select">Reviews</button>
        </section>
</div>
<section class="about-us-holder">
    <h2>Our Team</h2>
    <article class="about-info">
        <h3>Daniel Moore</h3>
        <h1>github: https://github.com/wron1</h1>
        <h1>Linkdin: https://www.linkedin.com/in/danielmoore201/</h1>
    </article>
    <article class="about-info">
        <h3>Justin Brubaker</h3>
        <h1>github: https://github.com/JustinBrubaker7</h1>
        <h1>Linkdin: https://www.linkedin.com/in/brubakerjustin/</h1>
    </article>
    <article class="about-info">
        <h3>Rene Zendejas</h3>
        <h1>github: https://github.com/RZM1993</h1>
    </article>
</section>