<section>
    <article>
        Email: <input id="email" type="text" >
        Password: <input id="password" type="text" >
        <button onclick=loginButton()>Submit</button>
    </article>
    <article>

    </article>
    <script>

        function loginButton(){

            const Email = document.getElementById("email")
            const Password = document.getElementById("password")

            if(Email.value && Password.value){
                userLogin = {
                    email: Email.value,
                    password: Password.value,
                }

                console.log(userLogin);

                fetch("/user/api/login", {
                    method: "POST",
                    headers: {
                    "Content-Type": "application/json",
                    },
                    body: JSON.stringify(userLogin),
                });
            }else{
                window.alert("Please enter a password and email to login.")
            }
        }
    </script>
</section>