<section>
    {{#if logged_in}}
    <article>
        <button onclick=logoutButton()>Logout</button>
    </article>
    {{else}}
    <article class="login-form">
        Email: <input id="email" type="text" >
        Password: <input id="password" type="text" >
        <button onclick=loginButton()>Submit</button>
        <button onclick=forgotPassword()>I Forgot My Password</button>
    </article>
    {{/if}}
</section>

<script>
    const loginButton = async () => {
        const Email = document.getElementById("email");
        const Password = document.getElementById("password");

        if (Email.value && Password.value) {
            userLogin = {
                email: Email.value,
                password: Password.value,
            };

            console.log(userLogin);

            const response = await fetch("/userapi/login", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(userLogin),
            });

            if (response.ok) {
                console.log("Logging you in.")
                Email.value = '';
                Password.value = '';
                window.location.reload();
                alert(`Logged in!`)
            } else {
                alert("Failed to login");
                console.log(response);
                
            }
        }else{
            alert('Please enter an email and password.')
        };
    }

    const logoutButton = async () => {

        const response = await fetch("/userapi/logout", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
        });
        
        if (response.ok){
            console.log('Successful Logout');
            window.location.href = '/user';
        }else{
            alert('Failed to logout.');
        }
    }

    function forgotPassword(){
        window.location.href = "/user/email"
    }
</script>