<div style="visibility:hidden">
        <section class="header-top">
            <h3>Search</h3>
            <input id="search-input" type="text">
            <button id="search-button"></button>
            <a id="facebook-link" href="https://facebook.com">FaceBook</a>
            <button onclick='window.location.href="http://localhost:3001/user/login"'>Login</button>
            <button onclick='window.location.href="http://localhost:3001/user/signup"'>SignUp</button>
            <h1>Logged In:</h1>
            <h1 id="username">{{user.username}}</h1>
        </section>

        <section class="header-bar">
            <Button onclick='window.location.href="http://localhost:3001/user"' class="header-button">Home</Button>
            <Button onclick='window.location.href="http://localhost:3001/user/inventory"' class="header-button">View Used Cars</Button>
            <Button onclick='window.location.href="http://localhost:3001/user/about"' id="aboutus-select">About Us</Button>
            <button onclick='window.location.href="http://localhost:3001/user/review"' id="review-select">Reviews</button>
        </section>
</div>
<section>
    <article class="login-form">
        Email: <input id="email" type="text" >
        Password: <input id="password" type="text" >
        <button onclick=loginButton()>Submit</button>
        <button onclick=forgotPassword()>I Forgot My Password</button>
    </article>
</section>

<script>
    const loginButton = async () => {
        const Email = document.getElementById("email");
        const Password = document.getElementById("password");

        if (Email.value && Password.value) {
            userLogin = {
                email: Email.value,
                password: Password.value,
            };

            console.log(userLogin);

            const response = await fetch("/userapi/login", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(userLogin),
            });

            if (response.ok) {
                console.log("Logging you in.")
                Email.value = '';
                Password.value = '';
                window.location.href='/user';
                alert(`Logged in!`)
            } else {
                alert("Failed to login");
                console.log(response);
                
            }
        }else{
            alert('Please enter an email and password.')
        };
    }
</script>