<header>
    <input type="text">
    <button>Search</button>
    <a href="https://facebook.com">FaceBook</a>
    <section>
        <Button>Home</Button>
        <select name="inventory" id="inventory-select">
            <option value="">View Used Cars</option>
            <option value="">View Featured Cars</option>
            <option value="">View Used Cars Under $10,000</option>
        </select>
        <select name="about us" id="aboutus-select">
            <option value="">Our Staff</option>
            <option value="">Contact Us</option>
            <option value="">Employment Opportunities</option>
        </select>
        <select name="review" id="review-select">
            <option value="">Submit Review</option>
            <option value="">View Reviews</option>
        </select>
    </section>
</header>