<div style="visibility:hidden">
        <section class="header-top">
            <h3>Search</h3>
            <input id="search-input" type="text">
            <button id="search-button"></button>
            <a id="facebook-link" href="https://facebook.com">FaceBook</a>
            <button onclick='window.location.href="http://localhost:3001/user/login"'>Login</button>
            <button onclick='window.location.href="http://localhost:3001/user/signup"'>SignUp</button>
            {{#if logged_in}}
            <h1>Logged In:</h1>
            <h1 id="username">{{user.username}}</h1>
            {{/if}}
        </section>

        <section class="header-bar">
            <Button onclick='window.location.href="http://localhost:3001/user"' class="header-button">Home</Button>
            <Button onclick='window.location.href="http://localhost:3001/user/inventory"' class="header-button">View Used Cars</Button>
            <Button onclick='window.location.href="http://localhost:3001/user/about"' id="aboutus-select">About Us</Button>
            <button onclick='window.location.href="http://localhost:3001/user/review"' id="review-select">Reviews</button>
        </section>
</div>
<section>
    <article class="login-form">
        Email: <input id="email" type="text" >
        <button onclick=forgotPassword()>Submit</button>
    </article>
</section>
<script>
    const forgotPassword = async () => {
        let email = document.getElementById("email");

        if(email.value){
            theEmail = email.value;

            userEmail = {
                email: theEmail,
            }

            const response = await fetch("/userapi/email", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(userEmail),
            });
            if (response.ok){
                console.log(response);
            }else{
                alert('Failed to send email.');
            };
        };
    }
</script>