.dashboard-nav {
  height: 100%;
  width: 300px;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 5px;
  background-color: grey;
  position: fixed;
  z-index: 10;
}

.dashboard-card {
  margin: 10px 10px 0px 310px;
  font-size: 18px;
}

.dashboard-form {
  margin: 50px;
}
